/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
  box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    font-size: 16px;
}

.clearfix:after {
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    content: ".";

    visibility: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.site{
    /*border: 1px solid #000;*/
  }

/* ===============HEADER + FOOTER============== */

header{
    height: 65px;
    border-bottom: solid 1px RGBA(179, 179, 179, 1);
    margin-top: 5px;    
}

.headcontained{
  max-width: 1200px;
  /*border: 1px solid #000;*/
  margin: auto;
}

.logo{
background-image: url("../img/CO.84.svg");
background-size: 55px 55px;
background-repeat: no-repeat;
background-position: left;
float: left;
height: 60px;
/*border: 1px solid #000;*/
width: 33.333%;
text-indent: -999px;
overflow: hidden;
}

.fullnav{
  float: left;
  text-align: left;
  /*border: 1px solid #000;*/
  width: 33.333%;
  height: 50px;
  margin-top: 10px;
  padding-left: 60px;
}

.fullnav ul{
    width: 100%;
    margin: auto;
}

.fullnav ul li {
  float: left;
  display: inline;
  text-align: left;
  width:25%;
  list-style: none;
  padding:0;
}

.fullnav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.socialnav{
  float: right;
  text-align: right;
  /*border: 1px solid #000;*/
  height: 50px;
  margin-top: 10px;
}

.socialnav ul{
    width: 100%;
    margin: 0;
}

.socialnav ul li {
  float: left;
  display: inline;
  text-align: center;
  list-style: none;
  padding-left:30px;
}

.socialnav ul li a {
  display: block;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: RGBA(179, 179, 179, );
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 400;
  font-size: 13px;
}
.socialnav ul li a img {
  height: 20px;
  width: 20px;
}

nav a:hover {
  color: #000;
}

footer{
    height: 60px;
    border-top: solid 1px RGBA(179, 179, 179, 1);
    display: inline-block;
    width: 100%;
    background-color: RGBA(39, 40, 34, 1);
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 12px;

  }

/* ===============END HEADER + FOOTER============== */

/* ==============HOME HERO============= */

.banner {
  width: 100%;
  margin-top: 10px;
}

.hero-image{
    max-width: 1200px;
    height: 500px;
    /*border: solid 1px #000;*/
    background-image: url("../img/home_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.overlaycopy{
  float: center;
  width: 520px;
  margin: auto;
  margin-top: 130px;
  padding: 50px;
  background-color: rgba(255, 255, 255, .4);
  border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .4);
    color: #000;
    display: inline-block;
}

.overlaycopy h2{
  font-weight: 900;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  color: #000;
  line-height: 2px;
}

.overlaycopy h3{
  font-weight: 200;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
  color: #000;
  line-height: 2px;
  margin: 0;
}

.overlaycopy p{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}



/* ==============HOME HERO END============ */

/* ==============HOME 3 PRODUCTS CONTAINER ============= */

.home-blurb{
  max-width: 1200px;
  margin-bottom: 15px;
  border-bottom: solid 1px RGBA(179, 179, 179, 1);
}

.home-blurb h5{
 font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align:center;
  margin:0;
}

.home-blurb h6{
 font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  text-align:center;
  margin: 0;
}

.features{
background-color: #fff;
height:200px;
max-width:1200px;
margin:auto;
text-align:center;
}

.features .feature{
  width: 33.333%;
  float: left;
  padding:5px;
}

.features .feature .feature-inner{
 /* border: 1px solid #ccc;*/
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.features .feature .feature-inner img{
  width: 100%
}

.feature-button{
  width: 75%;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  border:1px solid RGBA(39, 40, 34, 1);
  background: #fff;
  text-decoration: none;
  margin: auto;  
}

.feature-button:hover {
  display: inline-block;
  transform: translatez(0);
  box-shadow: 0 0 1px RGBA(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: RGBA(39, 40, 34, 1);
  transition-property: color;
  transition-duration: 0.3s;
  color: white;
}

/* ==============END HOME 3 PRODUCTS CONTAINER ============= */

/* ==============ABOUT HERO CONTAINER ============= */

.about-hero{
    max-width: 1200px;
    height: 350px;
    /*border: solid 1px #000;*/
    background-image: url("../img/about_page/about_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0px bottom 10px;
    /*position:relative;*/
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
}

.about_overlaycopy{
  float: center;
  width: 520px;
  margin: auto;
  margin-top: 70px;
  padding: 50px;
  background-color: rgba(255, 255, 255, .4);
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, .4);
  color: #000;
  display: inline-block;
}

.about_overlaycopy h2{
  font-weight: 900;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #000;
  line-height: 2px;
}
/* ==============END ABOUT HERO CONTAINER ============= */

/* ==============ABOUT COPY CONTAINER ============= */
.about-container{
  max-width: 1200px;
  overflow: hidden;
 /*border: 1px solid #000;*/
  margin: auto;
  margin-top:10px;
}

.about-copy{
width: 50%;
float: left;
/*border: 1px solid #000;*/
display: inline-block;
}

.about-copy h5{
 font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align:center;
  margin:0;
}

.about-copy h6{
 font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  text-align:center;
  margin: 0;
  margin-right:20px;
 border-bottom: solid 1px RGBA(179, 179, 179, 1);
}

.about-copy p{
  margin:10px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
/* ==============END ABOUT COPY CONTAINER ============= */

/* ==============ABOUT IMAGE CONTAINER ============= */
.about-image{
width: 50%;
/*border: 1px solid #000;*/
display: inline-block;
float: left;
background-image: url("../img/about_page/about_hero.jpg");
background-repeat: no-repeat;
background-size: cover;
height:800px;
margin-bottom: 20px;
}

/* ==============END ABOUT IMAGE CONTAINER ============= */

/* ==============ABOUT SOCIAL NAV ============= */

.about_socialnav{
  text-align:center;
  /*border: 1px solid #000;*/
  height: 50px;
  margin-top: auto;
  padding-right: 42px;
}

.about_socialnav ul{
    width: 100%;
    margin: auto;
    padding: 0;
}

.about_socialnav ul li {
  margin: auto;
  display: inline-block;
  text-align: center;
  list-style: none;
  padding-left:30px;
}

.about_socialnav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  color: RGBA(179, 179, 179, );
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.about_socialnav ul li a img {
  height: 30px;
  width: 30px;
}
/* ==============END ABOUT SOCIAL NAV ============= */

/* ==============WORK PAGE ============= */
.work-copy h5{
 font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align:center;
  margin:0;
}

.work-copy h6{
 font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  text-align:center;
  margin: 0;
  margin-right:20px;
 border-bottom: solid 1px RGBA(179, 179, 179, 1);
}
/* ==============WORK GRID ============= */
.cssbox-container{
max-width: 1200px;
margin: auto;
}

div.cssbox {
  display: inline-block;
  width: 33%;
  margin: auto;
  overflow: hidden;
  height: 200px;

}
div.cssbox img{
  max-width: 100%;
}
span.cssbox_full {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%
}

a.cssbox_close::after {
  content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;

}

span.cssbox_full {
  cursor: initial;
}
/* This is the end of CSSBox */

.work-button{
  width: 35%;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  border:1px solid RGBA(39, 40, 34, 1);
  background: #fff;
  text-decoration: none;
  margin: auto;  
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-button:hover {
  display: block;
  transform: translatez(0);
  box-shadow: 0 0 1px RGBA(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: RGBA(39, 40, 34, 1);
  transition-property: color;
  transition-duration: 0.3s;
  color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}





/* ==============CONTACT FORM ============= */



.contact_form_container{
max-width: 1200px;
margin:auto;
}

.contact_title h5{
 font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align:center;
  margin:0;

}
.contact_title h6{
 font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
  text-align:center;
  margin: 0;
  border-bottom: solid 1px RGBA(179, 179, 179, 1);
}
.contact_title p{
 font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align:center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 900px;
}
.contact_title img{
width: 30px;
height: 30px;
}

.Form{
  width: 900px;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}

.Form-column{
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.Form-column li{
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
  position: relative;
}

.Form-column li .parsley-errors-list{
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
  background: #FD8A71;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  width: 100%;
}

.Form-column li .parsley-errors-list li{
  margin: 0;
  padding: 10px;
}

.Form label{
  display: none;
}

.Form input[type=text],
.Form textarea,
.Form input[type=submit]{
  height: 50px;
}

.Form input[type=text],
.Form textarea{
  background: #ffffff;
  border: 0;
  padding: 6px 12px;
  color: #B4ABAA;
  width: 100%;
  border-radius: 3px;
  border:solid 1px RGBA(179, 179, 179, 1);
}

.Form input[type=text]:focus,
.Form textarea:focus,
.Form input[type=submit]{
  outline: none;
}

.Form textarea{
  resize: none;
  height: 110px;
  display: block;
}

.Form input[type=submit]{
  background:  RGBA(179, 179, 179, 1);
  border: 0;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}
.Form input[type=submit]a:hover{
  background: #000;
  border: 0;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 3px;
  height: 50px;
  width: 100%;
}
.Form input[type=submit]:hover {
  background: RGBA(39, 40, 34, 1);
  transition: all 0.5s;
  color: white;
}

@media screen and (max-width: 600px) {
  .Form{
    width: 100%;
  }

  .Form-column{
    width: 100%;
    float: none;
  }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    margin: 0;
    display: bl
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
